<mat-horizontal-stepper [linear]="false" #stepper>
  <!-- errorMessage="Name is required." -->
  <mat-step [stepControl]="basicUserForm">
    <ng-template matStepLabel>User Basic Info</ng-template>
    <div class="app-body">
      <main class="main d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card mx-4">
                <div class="card-body p-4">
                  <form [formGroup]="basicUserForm">
                    <div class="row">
                      <div class="col-md-9">
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>
                      </div>
                      <div class="col-md-3">
                        <img
                          src="./../../../../assets/img/avatars/8.jpg"
                          class="rounded-circle img-fluid float-right embed-responsive-item"
                          alt="Cinque Terre"
                        />
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="icon-user"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="First Name"
                        formControlName="firstName"
                      />
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last Name"
                        formControlName="lastName"
                      />
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        formControlName="email"
                      />
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="icon-lock"></i
                        ></span>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        formControlName="password"
                      />
                    </div>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="icon-lock"></i
                        ></span>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Repeat password"
                        formControlName="confirmPassword"
                      />
                    </div>
                    <div
                      class="input-group align-center d-flex justify-content-center"
                    >
                      <label
                        class="switch switch-lg switch-label switch-outline-info"
                        tooltip="Gender"
                      >
                        <input
                          type="checkbox"
                          class="switch-input"
                          formControlName="gender"
                          checked="true"
                        />
                        <span
                          class="switch-slider"
                          data-checked="👨‍🦱"
                          data-unchecked="👩‍🦰"
                        ></span>
                      </label>
                    </div>
                    <div
                      class="btn-group btn-group-sm d-flex mb-2"
                      btnRadioGroup
                      formControlName="userType"
                      tooltip="User Type"
                    >
                      <label
                        btnRadio="academyadmin"
                        class="btn btn-outline-dark"
                      >
                        Academy Admin
                      </label>
                      <label btnRadio="teacher" class="btn btn-outline-dark">
                        Teacher
                      </label>
                      <label btnRadio="student" class="btn btn-outline-dark">
                        Student
                      </label>
                    </div>
                    <button class="btn btn-block btn-success" matStepperNext>
                      Create Account
                    </button>
                  </form>
                </div>
                <div class="card-footer p-4">
                  <div class="row">
                    <div class="col-4">
                      <button
                        class="btn btn-block btn-facebook"
                        type="button"
                        (click)="printValues()"
                      >
                        <span>Facebook</span>
                      </button>
                    </div>
                    <div class="col-4">
                      <button
                        class="btn btn-block btn-google-plus"
                        type="button"
                      >
                        <span>Google</span>
                      </button>
                    </div>
                    <div class="col-4">
                      <button class="btn btn-block btn-twitter" type="button">
                        <span>Twitter</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <pre>{{ basicUserForm.value | json }}</pre>
          </div>
        </div>
      </main>
    </div>
  </mat-step>
  <mat-step
    [stepControl]="specificDataForm"
    errorMessage="Address is required."
    state="phone"
  >
    <ng-template matStepLabel
      >{{ basicUserForm.value.userType | titlecase }} Specific Info</ng-template
    >
    <div class="app-body">
      <main class="main d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card mx-4">
                <div class="card-body p-4">
                  <div [hidden]="basicUserForm.value.userType != 'student'">
                    <form action="">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="firstName" class="font-weight-bold"
                              >First Name</label
                            >
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"
                                  ><i class="fa fa-user"></i
                                ></span>
                              </div>
                              <input
                                type="text"
                                id="firstName"
                                name="name"
                                class="form-control"
                                placeholder="First Name"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="lastName" class="font-weight-bold"
                              >Last Name</label
                            >
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                              </div>
                              <input
                                type="text"
                                id="lastName"
                                name="name"
                                class="form-control"
                                placeholder="Last Name"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="font-weight-bold"
                          >Username</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fa fa-envelope"></i
                            ></span>
                          </div>
                          <input
                            type="text"
                            id="username"
                            name="username"
                            class="form-control"
                            placeholder="talha_tk"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="font-weight-bold"
                          >Email</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fa fa-envelope"></i
                            ></span>
                          </div>
                          <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="mail.talha.tk@gmail.com"
                            autocomplete="email"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="dob" class="font-weight-bold"
                          >Date of Birth</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="date"
                            id="dob"
                            name="dob"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="gender" class="font-weight-bold"
                          >Gender</label
                        >

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <select id="inputState" class="form-control">
                            <option selected>Choose Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="address" class="font-weight-bold"
                          >Address</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="text"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="Address"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="city" class="font-weight-bold">City</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="text"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="City"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="tel" class="font-weight-bold"
                          >Telephone</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="tel"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="Telephone"
                          />
                        </div>
                      </div>
                    </form>
                  </div>
                  <div [hidden]="basicUserForm.value.userType != 'teacher'">
                    <form action="">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="firstName" class="font-weight-bold"
                              >First Name</label
                            >
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"
                                  ><i class="fa fa-user"></i
                                ></span>
                              </div>
                              <input
                                type="text"
                                id="firstName"
                                name="name"
                                class="form-control"
                                placeholder="First Name"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="lastName" class="font-weight-bold"
                              >Last Name</label
                            >
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                              </div>
                              <input
                                type="text"
                                id="lastName"
                                name="name"
                                class="form-control"
                                placeholder="Last Name"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="font-weight-bold"
                          >Username</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fa fa-envelope"></i
                            ></span>
                          </div>
                          <input
                            type="text"
                            id="username"
                            name="username"
                            class="form-control"
                            placeholder="talha_tk"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="font-weight-bold"
                          >Email</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fa fa-envelope"></i
                            ></span>
                          </div>
                          <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="mail.talha.tk@gmail.com"
                            autocomplete="email"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="dob" class="font-weight-bold"
                          >Date of Birth</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="date"
                            id="dob"
                            name="dob"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="gender" class="font-weight-bold"
                          >Gender</label
                        >

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <select id="inputState" class="form-control">
                            <option selected>Choose Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="address" class="font-weight-bold"
                          >Address</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="text"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="Address"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="city" class="font-weight-bold">City</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="text"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="City"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="tel" class="font-weight-bold"
                          >Telephone</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="tel"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="Telephone"
                          />
                        </div>
                      </div>
                    </form>
                  </div>
                  <div
                    [hidden]="basicUserForm.value.userType != 'academyadmin'"
                  >
                    <form action="">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="firstName" class="font-weight-bold"
                              >First Name</label
                            >
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"
                                  ><i class="fa fa-user"></i
                                ></span>
                              </div>
                              <input
                                type="text"
                                id="firstName"
                                name="name"
                                class="form-control"
                                placeholder="First Name"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="lastName" class="font-weight-bold"
                              >Last Name</label
                            >
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                              </div>
                              <input
                                type="text"
                                id="lastName"
                                name="name"
                                class="form-control"
                                placeholder="Last Name"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="font-weight-bold"
                          >Username</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fa fa-envelope"></i
                            ></span>
                          </div>
                          <input
                            type="text"
                            id="username"
                            name="username"
                            class="form-control"
                            placeholder="talha_tk"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="font-weight-bold"
                          >Email</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fa fa-envelope"></i
                            ></span>
                          </div>
                          <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="mail.talha.tk@gmail.com"
                            autocomplete="email"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="dob" class="font-weight-bold"
                          >Date of Birth</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="date"
                            id="dob"
                            name="dob"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="gender" class="font-weight-bold"
                          >Gender</label
                        >

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <select id="inputState" class="form-control">
                            <option selected>Choose Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="address" class="font-weight-bold"
                          >Address</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="text"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="Address"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="city" class="font-weight-bold">City</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="text"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="City"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="tel" class="font-weight-bold"
                          >Telephone</label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <input
                            type="tel"
                            id="dob"
                            name="dob"
                            class="form-control"
                            placeholder="Telephone"
                          />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- <div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="basicUserForm">
                {{ basicUserForm.value | json }}
                <div class="row">
                  <div class="col-md-9">
                    <h1>Register</h1>
                    <p class="text-muted">Create your account</p>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="./../../../../assets/img/avatars/8.jpg"
                      class="rounded-circle img-fluid float-right embed-responsive-item"
                      alt="Cinque Terre"
                    />
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    formControlName="firstName"
                  />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Repeat password"
                    formControlName="confirmPassword"
                  />
                </div>
                <button type="button" class="btn btn-block btn-success">
                  Create Account
                </button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-4">
                  <button class="btn btn-block btn-facebook" type="button">
                    <span>Facebook</span>
                  </button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block btn-google-plus" type="button">
                    <span>Google</span>
                  </button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block btn-twitter" type="button">
                    <span>Twitter</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div> -->
