<!-- <mat-form-field class="p-0">
  <mat-label>Select request type</mat-label>
  <mat-select name="selectedClassId" [(ngModel)]="selectedType">
    <mat-option *ngFor="let type of requestTypes" [value]="type">
      {{ type | titlecase }}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<div class="row">
  <div class="col-6">
    <mat-form-field class="p-0">
      <mat-label>Select Academy</mat-label>
      <mat-select name="selectedAcademyId" [(ngModel)]="selectedAcademyId">
        <mat-option
          *ngFor="let academy of academies"
          [value]="academy"
          (click)="getRequests(academy.academyId)"
        >
          {{ academy.academyName | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="p-0">
      <mat-label>Select request type</mat-label>
      <mat-select name="selectedClassId" [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of requestTypes" [value]="type">
          {{ type | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="animated fadeIn" *ngIf="selectedType == 'pending'">
  <div class="row">
    <div
      class="col-3"
      *ngFor="
        let request of pendingRequests;
        index as i;
        trackBy: trackBySubjectId
      "
    >
      <div class="card text-white bg-dark">
        <div class="card-header h4 ">
          Academy: {{ request.data.academyName }}
        </div>
        <div class="card-body">
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark p-1">
                <i class="icon-badge"></i> Class:
                <strong> {{ request.data.className }} </strong>
              </li>
              <li class="list-group-item bg-dark p-1">
                <i class="icon-notebook"></i> Subject:
                <strong> {{ request.data.subjectName }} </strong>
              </li>
            </ul>
          </div>
        </div>
        <button
          class="btn btn-sm btn-danger btn-block float-right"
          matTooltip="Cancel request"
          triggers="mouseenter:mouseleave"
          (click)="cancelRequest(request)"
        >
          Cancel Request
        </button>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="selectedType == 'approved'">
  <div class="row">
    <div
      class="col-3"
      *ngFor="
        let request of approvedRequests;
        index as i;
        trackBy: trackBySubjectId
      "
    >
      <div class="card text-white bg-dark">
        <div class="card-header h4 ">
          Academy: {{ request.data.academyName }}
        </div>
        <div class="card-body">
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark p-1">
                <i class="icon-badge"></i> Class:
                <strong> {{ request.data.className }} </strong>
              </li>
              <li class="list-group-item bg-dark p-1">
                <i class="icon-notebook"></i> Subject:
                <strong> {{ request.data.subjectName }} </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="selectedType == 'rejected'">
  <div class="row">
    <div
      class="col-3"
      *ngFor="
        let request of rejectedRequests;
        index as i;
        trackBy: trackBySubjectId
      "
    >
      <div class="card text-white bg-dark">
        <div class="card-header h4 ">
          Academy: {{ request.data.academyName }}
        </div>
        <div class="card-body">
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark p-1">
                <i class="icon-badge"></i> Class:
                <strong> {{ request.data.className }} </strong>
              </li>
              <li class="list-group-item bg-dark p-1">
                <i class="icon-notebook"></i> Subject:
                <strong> {{ request.data.subjectName }} </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
