/* Structure */
table {
    width: 100%;
  }
  
  .example-container {
    height: 400px;
    overflow: auto;
    width: 100%;
  }
  
  .angular-editor-textarea {
    background-color: white !important;
  }
  
  body {
    background: white;
  }
  /* .mat-form-field { */
  /* font-size: 14px; */
  /* width: 100%; */
  /* overflow: auto; */
  /* } */
  
  .text {
    word-wrap: break-word;
  }
  