<div class="container">
  <mat-form-field>
    <input
      type="text"
      placeholder="Start typing something..."
      aria-label="Number"
      matInput
      [formControl]="searchedAcademy"
      [matAutocomplete]="auto"
    />
  </mat-form-field>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option
      *ngFor="let academy of (filteredOptions | async)"
      [value]="academy.data.academyName"
      (click)="showAcademyDetails(academy)"
    >
      {{ academy.data.academyName }}
    </mat-option>
  </mat-autocomplete>
  <div class="card">
    <div class="card-header">
      <h3>
        {{
          selectedAcademy ? selectedAcademy.data.academyName : 'Academy Name'
        }}
      </h3>
      <div>
        <label class="font-weight-bold">Rating</label>
        <!-- <rating class="ml-3" [(ngModel)]="rate"></rating> -->
      </div>
    </div>

    <div class="card-body">
      <form action="">
        <div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Choose class</mat-label>
              <mat-select name="selectedClassId" [(ngModel)]="selectedClassId">
                <mat-option
                  *ngFor="let class of selectedAcademyDetails.classes"
                  [value]="class.classId"
                  (click)="showSubjects(class.classId)"
                >
                  {{ class.data.className }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Choose subject(s)</mat-label>
              <mat-select
                name="selectedSubjects"
                multiple
                [(ngModel)]="selectedSubjects"
              >
                <mat-option
                  #subjectOption
                  *ngFor="let subject of selectedClassSubjects; let i = index"
                  [disabled]="
                    pendingRequests[i]
                      ? pendingRequests[i].subjectId == subject.id
                        ? true
                        : false
                      : false
                  "
                  [matTooltip]="
                    subjectOption.disabled
                      ? 'Your request for this subject is pending!'
                      : ''
                  "
                  [value]="subject.id"
                >
                  {{ subject.data.subjectName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <button
              [disabled]="selectedSubjects.length == 0"
              class="btn btn-outline-info btn-block border-0 font-weight-bold"
              (click)="closeDialog()"
            >
              Apply
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
