<div class="col-sm-12">
    
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Posted/Submitted</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Posted</mat-option>
              <mat-option value="option2">Submitted By Students</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Quiz No</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    
    
  
    
  
    <!-- <mat-card>
      <div class="row">
        <div class="col-12">
          <mat-card-title>
            Posted Quizzes
          </mat-card-title>
        </div>  
        
  
        <mat-form-field class="px-3">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Filter"
          />
        </mat-form-field>
        <div class="example-container">
        <table mat-table [dataSource]="dataSource">
          
          <ng-container matColumnDef="quizNumber">
            <th mat-header-cell *matHeaderCellDef><strong>No.</strong></th>
            <td mat-cell *matCellDef="let element">{{ element.quizNumber }}</td>
          </ng-container>
  
         
          <ng-container matColumnDef="quizTitle">
            <th mat-header-cell *matHeaderCellDef><strong>Title</strong></th>
            <td mat-cell *matCellDef="let element">{{ element.quizTitle }}</td>
          </ng-container>
  
          
          <ng-container matColumnDef="quizAddedDate">
            <th mat-header-cell *matHeaderCellDef><strong>Added On</strong></th>
            <td mat-cell *matCellDef="let element">{{ element.quizAddedDate }}</td>
          </ng-container>
  
          
          <ng-container matColumnDef="quizDueDate">
            <th mat-header-cell *matHeaderCellDef><strong>Due Date</strong></th>
            <td mat-cell *matCellDef="let element">{{ element.quizDueDate }}</td>
          </ng-container>
         
          
          <ng-container matColumnDef="quizDuration">
            <th mat-header-cell *matHeaderCellDef><strong>Duration (mins)</strong></th>
            <td mat-cell *matCellDef="let element">{{ element.quizDuration }}</td>
          </ng-container>
  
          <ng-container matColumnDef="quizTotalMarks">
            <th mat-header-cell *matHeaderCellDef>
              <strong>Total Marks</strong>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.quizTotalMarks }}</td>
          </ng-container>
  
          <ng-container matColumnDef="quizControls">
            <th mat-header-cell *matHeaderCellDef><strong>Controls</strong></th>
            <td mat-cell *matCellDef="let element">{{ element.quizControls }}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
      
    </mat-card> -->
  </div>

  

<div class="row">
  <div class="col-sm-12">
    <div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
          <label for="className" class="font-weight-bold"
            >Submitted Quizzes</label
          >
          
        </div>
        <div>
          <table class="table table-striped table-hover table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Made On</th>
                <th>Added On</th>
                <th>Due Date</th>
                <th>Time (min)</th>
                <th>Average Marks</th>
                <th>Total Marks</th>
                <th>Status</th>
                <th>Attemped By</th>
                <th class="text-center">Controls</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Project Charter</td>
                <td>2012/01/01</td>
                <td>2012/01/01</td>
                <td>2012/01/01</td>
                <td>15</td>
                <td>8.5</td>
                <td>10</td>
                <td><span class="badge badge-warning">Not Uploaded</span></td>
                <td>N/A</td>
                <td>
                  <div class="pl-2 pr-2 text-center">
                    <button class="btn p-0">
                      <span popover="Edit" triggers="mouseenter:mouseleave">
                        <i class="text-info fa fa-edit"></i
                      ></span>
                    </button>
                    <button class="btn p-0 ml-2">
                      <span popover="Delete" triggers="mouseenter:mouseleave">
                        <i class="text-danger fa fa-trash"></i>
                      </span>
                    </button>
                    <button class="btn p-0 ml-2">
                      <span popover="Upload" triggers="mouseenter:mouseleave">
                        <i class="text-warning fa fa-upload"></i>
                      </span>
                    </button>
                    <button class="btn p-0 ml-2">
                      <span popover="View" triggers="mouseenter:mouseleave">
                        <i class="text-success fa fa-eye"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Project Charter</td>
                <td>2012/01/01</td>
                <td>2012/01/01</td>
                <td>2012/01/01</td>
                <td>15</td>
                <td>8.5</td>
                <td>10</td>
                <td><span class="badge badge-success">Uploaded</span></td>
                <td>10/50</td>
                <td>
                  <div class="pl-2 pr-2 text-center">
                    <button class="btn p-0">
                      <span popover="Edit" triggers="mouseenter:mouseleave">
                        <i class="text-info fa fa-edit"></i
                      ></span>
                    </button>
                    <button class="btn p-0 ml-2">
                      <span popover="Delete" triggers="mouseenter:mouseleave">
                        <i class="text-danger fa fa-trash"></i>
                      </span>
                    </button>
                    <button class="btn p-0 ml-2" hidden="true">
                      <span popover="Upload" triggers="mouseenter:mouseleave">
                        <i class="text-info fa fa-upload"></i>
                      </span>
                    </button>
                    <button class="btn p-0 ml-2">
                      <span popover="View" triggers="mouseenter:mouseleave">
                        <i class="text-success fa fa-eye"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

