<div class="card-body p-0">
  <div class="col-12">
    <div>
      <h3>
        Add Assignment
      </h3>
    </div>
    <form [formGroup]="assignmentForm" aria-disabled="!approvedRequests[0]">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Choose Academy</mat-label>
          <!-- <input type="text" matInput formControlName="academy" readonly /> -->
          <mat-select formControlName="academy">
            <mat-option
              *ngFor="let academy of approvedRequests; index as i"
              [value]="{
                academyName: academy[i].data.academyName,
                academyId: academy[i].data.academyId
              }"
              (click)="getAcademyData(academy[i].data.academyId)"
              >{{ academy[i].data.academyName | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Choose Class</mat-label>
          <input type="text" matInput formControlName="classRoom" readonly />
          <!-- <mat-select formControlName="classRoom">
              <mat-option *ngFor="let class of classrooms" [value]="class">{{
                class?.data?.class.className
              }}</mat-option>
            </mat-select> -->
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Choose Subject</mat-label>
          <mat-select formControlName="subject">
            <mat-option
              *ngFor="let class of classrooms; index as i"
              [value]="{
                subjectId: class.data.subject.subjectId,
                subjectName: class.data.subject.subjectName
              }"
              (click)="updateValues(class, approvedRequests[0][i])"
              >{{ class?.data?.subject.subjectName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Assignment Title</mat-label>
          <input type="text" matInput formControlName="title" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Total Marks</mat-label>
          <input type="number" min="0" matInput formControlName="totalMarks" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Due Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dueDate"
            placeholder="Choose a date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <div
          class="invalid-feedback d-block"
          *ngIf="classrooms ? (classrooms.length == 0 ? true : false) : false"
        >
          <h6>
            *You can not upload any assignment because there is no classroom
            associated to you.
          </h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col 6">
        <button
          (click)="fileInput.click()"
          [disabled]="
            disableUploadButton || classrooms
              ? classrooms.length == 0
                ? true
                : false
              : true
          "
          class="btn btn-outline-info btn-block border-0 font-weight-bold"
        >
          Attach File
        </button>
      </div>
      <input hidden type="file" #fileInput (change)="handler($event)" />
      <div class="col 6">
        <button
          (click)="createAssignment()"
          [disabled]="buttonHidden || !assignmentForm.valid"
          class="btn btn-outline-success btn-block border-0 font-weight-bold"
        >
          Upload
        </button>

        <ul>
          <li *ngFor="let file of uploadedFiles">{{ file }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
