<!-- ******************************** ADD ASSIGNMENTS PAGE TEACHER *****************************-->
<!-- ******************************** ADD ASSIGNMENTS PAGE TEACHER *****************************-->
<!-- ******************************** ADD ASSIGNMENTS PAGE TEACHER *****************************-->
<!-- ******************************** ADD ASSIGNMENTS PAGE TEACHER *****************************-->

<div class="col-sm-12">
  <mat-card>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field *ngIf="subject">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="assignmentsType">
            <mat-option (click)="getPostedAssignments()" value="Posted"
              >Posted</mat-option
            >
            <mat-option (click)="getSubmittedAssignments()" value="Submitted"
              >Submitted</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Choose Academy</mat-label>
          <mat-select aria-disabled="!approvedRequests" [(ngModel)]="academyId">
            <mat-option
              *ngFor="let academy of approvedRequests; index as i"
              [value]="academy[i].data.academyId"
              (click)="getAcademyData(academy[i].data.academyId)"
              >{{ academy[i].data.academyName | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Choose Classroom</mat-label>
          <mat-select [(ngModel)]="classroomId">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let classroom of classrooms"
              [value]="classroom.id"
              (click)="getAssignments(classroom)"
            >
              {{ classroom.data.class.className }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field class="p-0">
          <mat-label>Subject</mat-label>
          <input matInput type="text" [(ngModel)]="subject" disabled />
        </mat-form-field>
      </div>
      <div class="col-sm-12" *ngIf="assignmentsType == 'Submitted'">
        <mat-form-field class="p-0">
          <mat-label>Assignment Title</mat-label>
          <mat-select [(ngModel)]="assignmentId">
            <!-- <mat-option>None</mat-option> -->
            <mat-option
              *ngFor="let assignment of submittedAssignments"
              [value]="assignment.assignmentId"
              (click)="filterAssignmentsForDetails(assignment.assignmentId)"
            >
              <span *ngIf="assignment.title">{{ assignment.title }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</div>

<br />
<hr />
<br />

<div class="row" *ngIf="assignmentsType == 'Submitted'">
  <div class="col-sm-12" *ngIf="submittedAssignmentsWithTitle">
    <div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
          <button
            class="btn btn-info btn-block"
            (click)="uploadMarks(); inEditMarksMode = !inEditMarksMode"
          >
            {{ inEditMarksMode ? 'Upload Marks' : 'Edit Marks' }}
          </button>
        </div>
        <div>
          <table
            class="table table-striped table-hover table-responsive-sm table-responsive-md table-responsive-lg"
          >
            <thead>
              <tr>
                <!-- <th>Student Name</th> -->
                <th>No</th>
                <th>Image</th>
                <th>Student Name</th>
                <th>Submitted On</th>
                <th>File</th>
                <th>Marks</th>
                <!-- <th>Status</th> -->
                <!-- <th class="text-center">Controls</th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let assignment of submittedAssignmentsWithTitle;
                  index as i
                "
              >
                <td>{{ i + 1 }}</td>
                <td>
                  <img
                    [src]="assignment.studentImageUrl"
                    alt=""
                    height="100"
                    width="100"
                  />
                </td>
                <td>
                  {{ assignment.studentName }}
                </td>
                <td>{{ assignment.submittedOn.toDate() | date }}</td>
                <td>
                  <button
                    *ngIf="assignment.filePath"
                    class="btn p-0"
                    matTooltip="Download Assignment"
                    triggers="mouseenter:mouseleave"
                  >
                    <a [href]="assignment.filePath" download>
                      <span>
                        <i class="text-success fa fa-download"> </i>
                      </span>
                    </a>
                  </button>
                </td>
                <td class="text-center">
                  {{ assignment.marks ? assignment.marks : '--' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="assignmentsType == 'Posted'">
  <div class="col-sm-12" *ngIf="assignments">
    <div class="animated fadeIn">
      <div class="card">
        <div>
          <table
            class="table table-striped table-hover table-responsive-sm table-responsive-md table-responsive-lg"
          >
            <thead>
              <tr>
                <!-- <th>Student Name</th> -->
                <th>No</th>
                <th>Title</th>
                <th>Due Date</th>
                <th>Posted On</th>
                <!-- <th>Obtained Marks</th> -->
                <th>Total Marks</th>
                <th>Status</th>
                <th class="text-center">Controls</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let assignment of assignments; index as i">
                <td>{{ i + 1 }}</td>
                <td>
                  {{
                    assignment.data.title ? assignment.data.title : 'No Title'
                  }}
                </td>
                <td>
                  {{ assignment.data.dueDate.toDate() | date }}
                </td>
                <td>{{ assignment.data.createdOn.toDate() | date }}</td>
                <!-- <td>{{}}</td> -->
                <td>
                  {{
                    assignment.data.totalMarks ? assignment.data.totalMarks : 0
                  }}
                </td>
                <td><span class="badge badge-success">Posted</span></td>
                <td>
                  <div class="pl-2 pr-2 text-center">
                    <button
                      class="btn p-0"
                      matTooltip="View Assignment"
                      triggers="mouseenter:mouseleave"
                      (click)="viewDetails(assignment)"
                    >
                      <span>
                        <i class="text-info fa fa-eye "> </i>
                      </span>
                    </button>

                    <button
                      *ngIf="assignment.data.filePath"
                      class="btn p-0"
                      matTooltip="Download Assignment"
                      triggers="mouseenter:mouseleave"
                    >
                      <a [href]="assignment.data.filePath" download>
                        <span>
                          <i class="text-success fa fa-download"> </i>
                        </span>
                      </a>
                    </button>
                    <button
                      class="btn p-0"
                      matTooltip="Delete Assignment"
                      triggers="mouseenter:mouseleave"
                      (click)="deleteAssignment(assignment)"
                    >
                      <span>
                        <i class="text-danger fa fa-trash"> </i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
