<div class="h4" mat-dialog-title>{{ data.btnText }} Class</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Select class" [(ngModel)]="data.className">
      <mat-option *ngFor="let class of classes" [value]="class">
        {{ class }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    class="btn btn-outline-success btn-block"
    (click)="data.classId ? updateClass() : addClass()"
    cdkFocusInitial
  >
    {{ data.btnText }} Class
  </button>
</div>
