<div class="btn-group float-right" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-primary dropdown-toggle btn-sm"
    aria-controls="dropdown-basic"
  >
    Assignment No <span class="caret"></span>
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-basic"
  >
    <li role="menuitem">
      <a class="dropdown-item p-1 pl-2" href="#">Action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item p-1 pl-2" href="#">Another action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item p-1 pl-2" href="#"
        >Something else here</a
      >
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item p-1 pl-2" href="#">Separated link</a>
    </li>
  </ul>
</div>