<!-- <div class="btn-group" dropdown>
  <button type="button" class="btn btn-danger">Islamiyat</button>
  <button
    type="button"
    dropdownToggle
    class="btn btn-danger dropdown-toggle dropdown-toggle-split"
    aria-controls="dropdown-split"
  >
    <span class="caret"></span> <span class="sr-only">Split button!</span>
  </button>
  <ul
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-split"
  >
    <li role="menuitem"><a class="dropdown-item" href="">Islamiyat</a></li>
    <li role="menuitem"><a class="dropdown-item" href="">Maths</a></li>
    <li role="menuitem"><a class="dropdown-item" href="">Chemistry</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="">Physics</a></li>
  </ul>
</div> -->

<form [formGroup]="quizForm">
  <hr />
  value: {{ quizForm.value | json }}
  <hr />

  <div class="form-row">
    <div class="col-md-3">
      <label class="font-weight-bold">Subject</label>
      <select class="custom-select" formControlName="subject">
        <option selected disabled="true">Choose Subject</option>
        <option value="Islamiyat">Islamiyat</option>
        <option value="Maths">Maths</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Physics">Physics</option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="font-weight-bold">Title</label>
      <input type="text" class="form-control" formControlName="title" />
    </div>
    <div class="col-md-3">
      <label class="font-weight-bold">Duration</label>
      <input
        type="number"
        class="form-control"
        placeholder="Quiz Duration (min)"
        formControlName="duration"
      />
    </div>
    <div class="col-md-3">
      <label class="font-weight-bold">Total Marks</label>
      <input
        type="number"
        class="form-control"
        placeholder="Total Marks"
        formControlName="totalMarks"
      />
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">
            <label class="font-weight-bold">Subject Name Here</label>
            <div class="pl-2 pr-2 float-right">
              <button
                class="btn p-0"
                popover="View"
                triggers="mouseenter:mouseleave"
              >
                <span><i class="text-success fa fa-eye"></i> </span>
              </button>
              <button
                class="btn p-0 ml-2"
                popover="Save"
                triggers="mouseenter:mouseleave"
              >
                <span> <i class="text-primary fa fa-save"></i> </span>
              </button>
              <button
                class="btn p-0 ml-2"
                popover="Upload"
                triggers="mouseenter:mouseleave"
              >
                <span> <i class="text-warning fa fa-upload"></i> </span>
              </button>
            </div>
          </div>
          <div class="card-body" formArrayName="questions">
            <ol
              class="p-0"
              *ngFor="let question of questions.controls; let i = index"
              [formGroupName]="i"
            >
              <li>
                <div>
                  <div class="form-group mb-1">
                    <input
                      type="text"
                      class="form-control-plaintext border border-secondary rounded p-1"
                      placeholder="Type your question here..."
                      formControlName="text"
                    />
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      formControlName="type"
                      value="mcq"
                    />
                    <label class="form-check-label">MCQ</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      formControlName="type"
                      value="tf"
                    />
                    <label class="form-check-label">True/False</label>
                  </div>
                  {{ question.value | json }}
                  <div
                    *ngIf="question.value.type == 'mcq'"
                    formArrayName="mcqOptions"
                  >
                    <ul
                      *ngFor="
                        let mcqOption of question.controls.mcqOptions.controls;
                        let j = index
                      "
                      [formGroupName]="j"
                    >
                      <li class="list-inline">
                        <div class="form-check form-check-inline">
                          <button class="btn btn-outline-dark">
                            <span
                              contenteditable="true"
                              formControlName="option"
                            >
                            </span>
                          </button>
                          <!-- <input
                            class="form-check-input"
                            type="checkbox"
                            formControlName="option"
                            value="mcqOption.value.option"
                          />
                          <label
                            class="form-check-label"
                            contenteditable="true"
                            >{{ mcqOption.value.option }}</label
                          > -->
                        </div>
                      </li>
                    </ul>

                    <button
                      class="btn ml-1 btn-sm btn-secondary"
                      popover="Add Option"
                      triggers="mouseenter:mouseleave"
                    >
                      <span><i class="text-dark fa fa-plus"></i></span>
                    </button>
                  </div>
                </div>
              </li>
            </ol>
            <div class="row mt-4">
              <div class="col-sm-12">
                <button
                  class="btn btn-secondary btn-lg btn-block pt-0 pb-0"
                  popover="Add Question"
                  triggers="mouseenter:mouseleave"
                >
                  <span><i class="text-dark fa fa-plus"></i> </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
