<div class="animated fadeIn">
  <div class="row">
    <!-- <div class="col-sm-6 col-md-4 col-lg-3 pb-4">
          <button
            class="btn btn-sm btn-secondary border border-secondary btn-block h-100"
            tooltip="Add Option"
            triggers="mouseenter:mouseleave"
            >
            <span><i class="text-dark fa fa-plus display-4"></i></span>
          </button>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 pb-4">
          <button
          class="btn btn-sm btn-secondary border border-secondary btn-block h-100"
          tooltip="Add Option"
          triggers="mouseenter:mouseleave"
          >
          <p class="display-4">➕</p>
          </button>
        </div> -->
    <div class="col-sm-6 col-md-4 col-lg-2 pb-4">
      <button
        class="btn btn-sm btn-secondary border border-secondary btn-block h-100"
        tooltip="Add Class"
        triggers="mouseenter:mouseleave"
        (click)="openDialog()"
      >
        <p class="display-1 text-dark">+</p>
        <!-- <span><i class="text-dark fa fa-plus display-4"></i></span> -->
      </button>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2" *ngFor="let class of classes">
      <div class="card bg-dark">
        <div class="card-header h3 p-2">
          Class: {{ class.data.className }}
          <button
            class="btn btn-outline-danger border-0 float-right py-1 px-2"
            tooltip="Delete Class"
            triggers="mouseenter:mouseleave"
            (click)="deleteClass(class.id, class.data.className)"
          >
            <span><i class="fa fa-trash"></i> </span>
          </button>
          <button
            class="btn btn-outline-info border-0 float-right py-1 px-2"
            tooltip="Edit Class"
            triggers="mouseenter:mouseleave"
            (click)="openDialog(class.id, class.data.className)"
          >
            <span><i class="fa fa-edit"></i> </span>
          </button>
        </div>
        <div class="card-body p-2">
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark p-1">
                <i class="icon-people"></i
                ><a href="www.google.com" target="_blank" class="text-white">
                  Subjects :
                  <strong>
                    {{ class.data.subjects ? class.data.subjects.length : 0 }}
                  </strong></a
                >
              </li>
              <li class="list-group-item bg-dark p-1">
                <i class="icon-people"></i> Students :
                <strong>
                  {{ class.data.students ? class.data.students.length : 0 }}
                </strong>
              </li>
              <li class="list-group-item bg-dark p-1">
                <i class="icon-people"></i> Teachers :
                <strong>
                  {{ class.data.teachers ? class.data.teachers.length : 0 }}
                </strong>
              </li>
              <li class="list-group-item bg-dark p-1">
                <i class="icon-people"></i> Classrooms :
                <strong>
                  {{ class.data.classrooms ? class.data.classrooms.length : 0 }}
                </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <pre>
  * Logout Button 
  * Class Cards 
  * Profile Page 
  * Academy profile page 
  * Invitation Button 
  * Graphs 
  * Right Bar 
  * Notifications
  * Requests Teacher Student 
  * Request Cards
</pre> -->
