<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="d-inline">Academy Admin Profile Page</h3>
        <!-- <button
            type="submit"
            class="btn btn-warning float-right text-weight-bold d-inline"
          >
            Edit Profile
          </button> -->
        <!-- <button
          (click)="editState = !editState"
          class="btn btn-oultine-warning float-right"
          popover="Edit"
          triggers="mouseenter:mouseleave"
        >
          <span> <i class="text-warning fa fa-lg fa-pencil"></i> </span>
        </button> -->
      </div>
      <div class="card-body" *ngIf="academyDetailsForm">
        <div class="container">
          <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step [stepControl]="basicUserForm">
              <ng-template matStepLabel>User Basic Info</ng-template>
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                      <div class="card-body p-4">
                        <form [formGroup]="basicUserForm">
                          <div class="row">
                            <div class="col-md-6">
                              <h1>Update</h1>
                              <p class="text-muted">Update your account</p>
                            </div>
                            <div class="col-md-6">
                              <img
                                [src]="user.photoURL"
                                class="rounded-circle img-fluid float-right embed-responsive-item"
                                style="height: 50px; width: 50px;"
                                (click)="profilePicInput.click()"
                              />
                              <input
                                type="file"
                                hidden
                                #profilePicInput
                                (change)="handlerForProfilePic($event)"
                              />
                            </div>
                          </div>

                          <!-- <div class="row">
                              <div class="col 6">
                                <button
                                (click)="fileInput.click()"
                                  class="btn btn-outline-info btn-block border-0 font-weight-bold"
                                >
                                  Attach File
                                </button>
                              </div>
                              <input hidden type="file" #fileInput />
                            </div> -->

                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"
                                ><i class="icon-user"></i
                              ></span>
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              [ngClass]="{
                                'is-valid': !firstName.errors,
                                'is-invalid':
                                  firstName.errors && firstName.touched
                              }"
                              placeholder="First Name"
                              formControlName="firstName"
                            />
                            <input
                              type="text"
                              class="form-control"
                              [ngClass]="{
                                'is-valid': !lastName.errors,
                                'is-invalid':
                                  lastName.errors && lastName.touched
                              }"
                              placeholder="Last Name"
                              formControlName="lastName"
                            />
                          </div>
                          <div
                            class="invalid-feedback d-block"
                            *ngIf="
                              firstName.touched &&
                              (firstName.errors || lastName.errors)
                            "
                          >
                            First and Last both names are required.
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">@</span>
                            </div>
                            <input
                            disabled
                              type="text"
                              class="form-control"
                              [ngClass]="{
                                'is-valid': !email.errors,
                                'is-invalid': email.errors && email.touched
                              }"
                              placeholder="Email"
                              formControlName="email"
                            />
                          </div>
                          <div
                            class="invalid-feedback d-block"
                            *ngIf="email.touched && email.errors"
                          >
                            Email is required.
                          </div>

                          <div
                            class="input-group align-center d-flex justify-content-center"
                          >
                            <label
                              class="switch switch-lg switch-label switch-outline-success"
                              tooltip="Gender"
                            >
                              <input
                                type="checkbox"
                                class="switch-input"
                                formControlName="gender"
                                checked="true"
                              />
                              <span
                                class="switch-slider"
                                data-checked="👨‍🦱"
                                data-unchecked="👩‍🦰"
                              ></span>
                            </label>
                          </div>
                          <!-- <div
                            class="btn-group btn-group-sm d-flex mb-2"
                            btnRadioGroup
                            formControlName="userType"
                            tooltip="User Type"
                          >
                            <label
                              btnRadio="academyadmin"
                              class="btn btn-outline-dark"
                            >
                              Academy Admin
                            </label>
                            <label
                              btnRadio="teacher"
                              class="btn btn-outline-dark"
                            >
                              Teacher
                            </label>
                            <label
                              btnRadio="student"
                              class="btn btn-outline-dark"
                            >
                              Student
                            </label>
                          </div> -->
                        </form>
                      </div>
                      <div class="card-footer p-4">
                        <div class="row">
                          <button
                          [disabled]="isUploading"
                            class="btn btn-block btn-success"
                            matStepperNext
                          >
                            Next
                          </button>
                          <!-- <div class="col-4">
                                <button
                                  class="btn btn-block btn-facebook"
                                  type="button"
                                  (click)="facebookLogin()"
                                >
                                  <i class="fa fa-facebook"></i>
                                </button>
                              </div> -->

                          <!-- <div class="col-4">
                                <button class="btn btn-block btn-twitter" type="button">
                                  <i class="fa fa-twitter"></i>
                                </button>
                              </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step
              [stepControl]="specificUserForm"
              errorMessage="Address is required."
            >
              <ng-template matStepLabel
                >{{ basicUserForm.value.userType | titlecase }} Specific
                Info</ng-template
              >
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div
                      class="card mx-4"
                      [hidden]="basicUserForm.value.userType != 'academyadmin'"
                    >
                      <div class="card-body p-4">
                        <form [formGroup]="specificUserForm">
                          <!-- <div class="form-group">
                            <label class="font-weight-bold"
                              >Date of Birth</label
                            >
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                              </div>
                              <input
                                [matDatepicker]="picker"
                                formControlName="dob"
                                placeholder="Choose a date"
                                class="form-control"
                                [min]="minDate"
                                [max]="maxDate"
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                              ></mat-datepicker-toggle>
                              <mat-datepicker hidden #picker></mat-datepicker>
                            </div>
                          </div> -->
                          <div class="form-group">
                            <label class="font-weight-bold">Address</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                              </div>
                              <input
                                type="text"
                                formControlName="address"
                                class="form-control"
                                [ngClass]="{
                                  'is-valid': !address.errors,
                                  'is-invalid':
                                    address.errors && address.touched
                                }"
                                placeholder="Address"
                              />
                            </div>
                          </div>
                          <div *ngIf="address.touched && address.errors">
                            <div
                              class="invalid-feedback d-block"
                              *ngIf="address.errors.required"
                            >
                              Address is required.
                            </div>
                            <div
                              class="invalid-feedback d-block"
                              *ngIf="address.errors.minlength"
                            >
                              Address must have atleast 5 characters.
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">City</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                              </div>
                              <input
                                type="text"
                                formControlName="city"
                                class="form-control"
                                [ngClass]="{
                                  'is-valid': !city.errors,
                                  'is-invalid': city.errors && city.touched
                                }"
                                placeholder="City"
                              />
                            </div>
                          </div>
                          <div *ngIf="city.touched && city.errors">
                            <div
                              class="invalid-feedback d-block"
                              *ngIf="city.errors.required"
                            >
                              City is required.
                            </div>
                            <div
                              class="invalid-feedback d-block"
                              *ngIf="city.errors.minlength"
                            >
                              City must have atleast 3 characters.
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">Telephone</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                              </div>
                              <input
                                placeholder="+92-000-0000000"
                                type="tel"
                                pattern="[\+]\d{2}[\-]\d{3}[\-]\d{7}"
                                formControlName="telephone"
                                class="form-control"
                                [ngClass]="{
                                  'is-valid': !telephone.errors,
                                  'is-invalid':
                                    telephone.errors && telephone.touched
                                }"
                              />
                            </div>
                          </div>
                          <div *ngIf="telephone.touched && telephone.errors">
                            <div
                              class="invalid-feedback d-block"
                              *ngIf="telephone.errors.required"
                            >
                              Telephone is required.
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="card-footer p-4">
                        <div class="row">
                          <button
                            class="btn btn-block btn-success"
                            matStepperNext
                          >
                            Next
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div> -->
            </mat-step>
            <mat-step *ngIf="basicUserForm.value.userType == 'academyadmin'">
              <ng-template matStepLabel>Academy Details</ng-template>

              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                      <div class="card-body p-4">
                        <form [formGroup]="academyDetailsForm">
                          <div class="row">
                            <div class="col-md-9">
                              <label class="font-weight-bold">
                                Academy Logo
                              </label>
                            </div>
                            <div class="col-md-3">
                              <img
                                [src]="user.academyLogoURL"
                                class="rounded-circle img-fluid float-right embed-responsive-item"
                                alt="Cinque Terre"
                                (click)="logoUrlInput.click()"
                              />
                              <input
                                type="file"
                                hidden
                                #logoUrlInput
                                (change)="handlerForAcademyLogo($event)"
                              />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">Academy Name</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"
                                  ><i class="fa fa-user"></i
                                ></span>
                              </div>
                              <input
                                type="text"
                                formControlName="academyName"
                                class="form-control"
                              />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="font-weight-bold">Description</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"
                                  ><i class="fa fa-user"></i
                                ></span>
                              </div>
                              <input
                                type="text"
                                formControlName="academyDescription"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="card-footer p-4">
                        <div class="row">
                          <button
                            *ngIf="user"
                            class="btn btn-block btn-success"
                            (click)="updateProfile(user.uid)"
                          >
                            Update Profile
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-step>
            <!-- <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    You are now done.
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                  </mat-step> -->
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
