
<div class="col-sm-12">
  <mat-card>
    <div class="row">
      
      <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Choose Academy</mat-label>
            <mat-select aria-disabled="!approvedRequests" [(ngModel)]="academyId">
              <mat-option
                *ngFor="let academy of approvedRequests; index as i"
                [value]="academy[i].data.academyId"
                (click)="getAcademyData(academy[i].data.academyId)"
                >{{ academy[i].data.academyName | titlecase }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Choose Classroom</mat-label>
            <mat-select [(ngModel)]="classroomId">
              <!-- (click)="getSubjects(classroom.data.class.classId)" -->
              <mat-option>None</mat-option>
              <mat-option
                *ngFor="let classroom of classrooms"
                [value]="classroom.id"
                (click)="getAssignments(classroom.id)"
              >
                {{ classroom.data.class.className }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
  </mat-card>

  <hr />

  <mat-card>
    <div class="row">
      <div class="col-11">
        <mat-card-title>
          Student Attendance
        </mat-card-title>
      </div>
      

      <mat-form-field class="px-3">
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
      <div class="example-container">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="lectureno">
          <th mat-header-cell *matHeaderCellDef><strong>Lecture No</strong></th>
          <td mat-cell *matCellDef="let element">{{ element.lectureno }}</td>
        </ng-container>
        <ng-container matColumnDef="lecturetitle">
          <th mat-header-cell *matHeaderCellDef><strong>Lecture Title</strong></th>
          <td mat-cell *matCellDef="let element">{{ element.lecturetitle }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="attendancestatus">
          <th mat-header-cell *matHeaderCellDef><strong>Status</strong></th>
          <td mat-cell *matCellDef="let element">{{ element.attendancestatus }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lecturedate">
          <th mat-header-cell *matHeaderCellDef><strong>Lecture Date</strong></th>
          <td mat-cell *matCellDef="let element">{{ element.lecturedate }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="lecturestarttime">
          <th mat-header-cell *matHeaderCellDef><strong>Lecture Start Time</strong></th>
          <td mat-cell *matCellDef="let element">{{ element.lecturestarttime }}</td>
        </ng-container>

        <ng-container matColumnDef="lectureendtime">
          <th mat-header-cell *matHeaderCellDef>
            <strong>Lecture End Time</strong>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.lectureendtime }}</td>
        </ng-container>

        

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
    
  </mat-card>
</div>