<!-- <p>
  Teacehrs k filters hongy, like poori academy k teacehrs daikhny an, ya class k teacehrs ya phr kisi subject k/ka teacehr daikhna a
* Teacher Card
</p> -->

<div class="animated fadeIn">
  <div class="row">
    <div class="col-3" *ngFor="let teacher of teachers">
      <div class="card text-white bg-dark">
        <div class="card-header h4 ">
          {{ teacher.data.teacherName }}
          <button
            class="btn btn-sm btn-outline-danger  float-right ml-2"
            matTooltip="Delete - I think this option is not justifiable!! - DISCUSS"
            triggers="mouseenter:mouseleave"
            (click)="deleteTeacher(teacher)"
          >
            <span><i class="fa fa-trash"></i> </span>
          </button>
          <!-- (onHover)="hoveringOver($event)"
            (onLeave)="resetStar()" -->
          
        </div>
        <div class="card-body">
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark p-1">
                <i class="icon-badge"></i> Class :
                <strong> {{ teacher.data.className }} </strong>
              </li>
              <li class="list-group-item bg-dark p-1">
                <i class="icon-notebook"></i> Subject :
                <strong> {{ teacher.data.subjectName }} </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
