<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-2 pb-4">
      <button
        class="btn btn-sm btn-secondary border border-secondary btn-block h-100"
        matTooltip="Search for academy"
        triggers="mouseenter:mouseleave"
        (click)="openDialog()"
      >
        <p class="display-1 text-dark">+</p>
      </button>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-4">
      <div class="card text-white bg-dark">
        <div class="card-header h4 ">
          Academy Name
          <button
            class="btn btn-sm btn-outline-info  float-right ml-2"
            matTooltip="View Profile"
            triggers="mouseenter:mouseleave"
          >
            <span><i class="fa fa-eye"></i> </span>
          </button>
          <rating
            class="ml-3"
            [(ngModel)]="rate"
            [max]="max"
            [readonly]="isReadonly"
            (onHover)="hoveringOver($event)"
            (onLeave)="resetStar()"
            [titles]="['one', 'two', 'three']"
            name="rate"
          ></rating>
        </div>
        <div class="card-body">
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark p-1">
                Subjects :
                <ul>
                  <li class="list-group-item bg-dark p-1">
                    <i class="fa fa-book"></i> Maths
                  </li>
                  <li class="list-group-item bg-dark p-1">
                    <i class="fa fa-book"></i> Chemistry
                  </li>
                  <li class="list-group-item bg-dark p-1">
                    <i class="fa fa-book"></i> Physics
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
